*{
    box-sizing: border-box;
}
body{
    background-color: cornflowerblue;
}
#header{
    width: 200px;
    border: solid 1px black;
    height: 100%;
    float: left;
}
h1{
    text-align: center;
    color: red;
}
.masonry{
    
    display: block;
    margin: 1.5em auto; 
    margin-left: auto; 
    margin-right: auto;
    height: auto;
    object-fit: contain;
}
p{
    text-align: center;
}
@media only screen and (max-width: 800px){
    .masonry{
        width: 49.99999%;
        padding: 6px 0;
        columns: 2;
}}
@media only screen and (max-width: 320px){
    .masonry{
        width: 100%;
        columns: 2;
    }
}
.tablet9{
    position: relative;
    top: 100px;
    right: 0px;
}
.tablet1{
    width: 800px;
    position: relative;
    left: 650px;
}
.tablet2{
    width: 800px;
    position: relative;
    top: -500px;
}
.tablet3{
    width: 800px;
}
.tablet4{
    width: 800px;
}
.tablet5{
    width: 800px;
}
.tablet6{
    width: 800px;
}
.tablet7{
    width: 800px;
}
.tablet8{
    width: 800px;
    position: relative;
   top: -100px;
}
.tablet10{
    width: 800px;
    height: 1000px;
    position: relative;
    top: 0px;
    left: 0px;
}
.tablet11{
    width: 800px;
    position: relative;
}
.tablet12{
    width: 800px;
    position: relative;
}
