*{
    box-sizing: border-box;
}
body{
    background-color: cornflowerblue;
}
#header{
    width: 200px;
    border: solid 1px black;
    height: 100%;
    float: left;
}
h1{
    text-align: center;
    color: red;
}
.masonry{
    
    display: block;
    margin: 1.5em auto; 
    margin-left: auto; 
    margin-right: auto;
    height: auto;
    object-fit: contain;
    max-width: 1000px;
}
p{
    text-align: center;
}
@media only screen and (max-width: 800px){
    .masonry{
        width: 49.99999%;
        padding: 6px 0;
        columns: 2;
}}
@media only screen and (max-width: 320px){
    .masonry{
        width: 100%;
        columns: 2;
    }
}
.tablet9{
    position: relative;
    top: -3450px;
    right: 300px;
}
.tablet1{
    
    position: relative;
    left: 575px;
}
.tablet2{
    
    position: relative;
    top: -650px;
    right: 350px;
}
.tablet8{
   
    position: relative;
   top: -700px;
   right: 300px;
}
.tablet10{
    position: relative;
    top: -1400px;
    right: 300px;
}
.tablet11{
    position: relative;
    top: -6800px;
    left: 800px;
}
.tablet12{
   position: relative;
   top: -6600px;
   left: 700px;
}
.tablet3{
    position: relative;
    top: -550px;
    right: 325px;
}
.tablet4{
    position: relative;
    top: -450px;
    right: 325px;
}
.tablet5{
    position: relative;
    top: -400px;
    left: 550px;
}
.tablet7{
    position: relative;
    top: -4700px;
    left: 650px;
}
.tablet6{
    position: relative;
    right: 300px;
    top: -150px;
}
