*{
    box-sizing: border-box;
}
body{
    background-color: cornflowerblue;
}
#header{
    width: 100%;
    border: solid 1px black;
}
h1{
    text-align: center;
    color: red;
}
.tablet{
    width: 236px;
}
.masonry{
    column-count: 2;
    column-gap: 20em;
    display: inline-block;
    width: 100%;
    max-width: 263px;
    margin: 1.5em auto;   
}
p{
    text-align: center;
}
